<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Categories</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">                
                <div class="table-responsive">
                    <table class="table mb-0 table-bordered table-hover" style="text-align: center;">

                        <thead class="table-light">
                            <tr>
                                <th>No</th>
                                <th>Category Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" style="text-align: center">New Category</h2>
                <hr />
                <form method="post" action="/categories/newCategory">
                    <div class="row">      
                        <input type="text" class="form-control" name="categoryName" placeholder="Enter Category Name" />
                    </div>
                    <br />
                    <div class="row">      
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>